#Defines whether or not to display the Kafka key (default: false)
display-key=true

# The name of the Kafka topic to read the messages from
topic=clean.viper.player.comcast.PlaybackSessionEvent

#Schema registry URI
#schema-registry=http://headwaters.sandbox.video.comcast.net/schema_registry/

# Kafka consumer configuration	
bootstrap.servers=headwaters.sandbox.video.comcast.net:9092
group.id=myGroupId
auto.offset.reset=latest
offsets.storage=kafka
auto.commit.enable=false
#must specify the key & value deserializer
value.deserializer=com.comcast.headwaters.kafka.logger.AvroDeserializer
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer